.advcomplaint__heading {
    color: #105cb6;
    text-decoration: none;
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
    display: inline;
    word-break: break-word;
  }
  
  .advcomplaint-wrapper {
    margin: 0;
    padding: 0f;
    color: #333;
  }
  
  .advcomplaint__verified {
    color: #105cb6;
    text-decoration: none;
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
    display: inline;
    word-break: break-word;
  }
  
  .advcomplaint__heading {
    font-size: 18px;
    display: inline;
    font-weight: normal;
  }
  
  .advcomplaint__info {
    color: #999;
    font-size: 13px;
    padding: 0 0 6px 0;
  }
  
  .advcomplaint__info-author {
    color: #4a8a29;
    text-decoration: none;
  }
  
  .advcomplaint__text {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 6px;
    box-sizing: border-box;
  }
  
  .advcomplaint__text-more {
    padding-top: 6px;
  }
  
  .advcomplaint__bottom {
    color: #999;
    font-size: 13px;
    padding: 0 0 6px 0;
    padding-bottom: 30px;
  }
  
  .advcomplaint__bottom-img {
    border: 0;
  }
  
  .advcomplaint__bottom-category {
    color: #4a8a29;
    text-decoration: none;
  }