.featured
    &__wrapper
        background: transparent !important
        width: 100%
        padding: 0
        position: relative
        cursor: pointer
        overflow: hidden
    &-item
        display: block
        position: relative
        width: 95%
        max-width: 480px
        height: 220px
        background-size: cover
        background-repeat: no-repeat
        background-position: 50%
        cursor: pointer
        transition: all .3s ease-in-out
        border-radius: 3px
        border: 2px solid #fff
        margin: 1px auto
        margin-bottom: 15px
        box-shadow: 0 0 5px 0 rgba(0,0,0,.3)
        box-sizing: border-box
        &__text
            display: block
            position: relative
            width: 95%
            max-width: 480px
            height: 220px
            background-size: cover
            background-repeat: no-repeat
            background-position: 50%
            cursor: pointer
            transition: all .3s ease-in-out
            border-radius: 3px
            border: 2px solid #fff
            margin: 1px auto
            margin-bottom: 15px
            box-shadow: 0 0 5px 0 rgba(0,0,0,.3)
            box-sizing: border-box
        &:after
            content: ''
            opacity: .6
            display: block
            height: 100%
            background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.9))
            transition: all .3s ease-in-out
            z-index: 1
            border-radius: 3px
